<div class="container">
  <mat-card appearance="outlined" class="card-layout">
    <mat-card-header>
      <div class="vista-icon">
        <mat-icon>check_circle</mat-icon>
      </div>
      <mat-card-title>Vista Todo</mat-card-title>
      <mat-card-subtitle>Organize your life with style</mat-card-subtitle>
    </mat-card-header>

    <img
      mat-card-image
      src="https://img.freepik.com/premium-photo/close-up-blue-background-with-water-leaves-generative-ai_1034064-6780.jpg"
      alt="Frutiger Aero background"
    />

    <mat-card-content>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>New Task</mat-label>
          <input matInput placeholder="What do you want to accomplish?" [(ngModel)]="description" (keyup.enter)="save()" />
          <mat-icon matSuffix class="icon-clickable" (click)="save()">add_task</mat-icon>
        </mat-form-field>
      </div>

      <div class="todo-container">
        @for (item of todoList(); track item.id; let i = $index) {
          <div class="listing" [ngClass]="{'completed': item.done}">
            <div class="task-content">
              <mat-checkbox [checked]="item.done" (click)="checkmarkChanged(i)">
                <span [ngClass]="item.done ? 'crossover' : ''">{{ item.description }}</span>
              </mat-checkbox>
            </div>
            <div class="task-actions">
              @if (!item.done) {
                <mat-icon class="icon-clickable" (click)="editTask(i)">edit</mat-icon>&nbsp;
              }
              <mat-icon class="icon-clickable delete-icon" (click)="deleteConf(item)">delete</mat-icon>
            </div>
          </div>
        } @empty {
          <div class="error-container">
            <mat-icon>info</mat-icon>
            <p>Your task list is empty. Add a new task to get started!</p>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
  
  <div id="ocean">
    <div class="wave"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
  </div>
  
</div>?